@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Archivo:wght@100;200;400&family=Comfortaa:wght@500;700&family=Grape+Nuts&family=Oswald:wght@200&family=Roboto+Slab:wght@500&family=Ultra&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: url(../mídias/background-game-over.jpg);
}


.descricao-game-over{
    width:65vw;
    height: 25vw;
    margin: 8vw auto;
    border: 0.3vw solid #8b451371;
    border-radius: 0.6vw ;
    background-color: 	#d6cb3157;
}


.descricao-game-over h1{
    color:	#800000;
    padding: 1vw;
    font-weight: bolder;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    text-shadow:0.1em 0.1em 0.2em #FFFFFF ;
   
}

.descricao-game-over p{
    color:#800000;
    padding: 1.7vw;
    word-spacing: 0.5vw;
    text-align: center;
    font-family:'Archivo', sans-serif;
    font-size: 2vw;
    text-shadow:0.1em 0.1em 0.2em #FFFFFF ;
}

.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jogar-com-outro-personagem{
    background-color:#c5bd48f3 ;
    color:#800000;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5vw;
    width: 23vw;
    height: 4vw;
    margin-right: 3vw;
    
}

